# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework

# Environment
.env
.env.*

# IDE
.vscode/
.idea/
*.iml
